In [6]:
#!pip install modelzoo-client[sklearn]
#!pip install sklearn.feature_extraction.text
#!pip install pandas
#!pip install sklearn
from sklearn.feature_extraction.text import TfidfVectorizer as tf
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd

Data preprocessing and collection

In [7]:
raw_data=pd.read_csv('spam.csv',encoding = "ISO-8859-1")
raw_data.info()
#raw_data.index()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [8]:
#converting into datframe
d=pd.DataFrame(raw_data)
d

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [9]:
#colums in dataframe
d.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [10]:
#removing unnecccesary column
d=d.iloc[:,:2]
d

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [11]:
#checking number of null values in each column
pd.isnull(d['v1']).values.sum()
pd.isnull(d['v2']).values.sum()
#filling null values with empty string
w=""
d.fillna(w)
d

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
Label encoding

SyntaxError: invalid syntax (3449566350.py, line 1)

In [13]:
#assigning spam as 0 and ham as 1
d.loc[d['v1']=='spam','v1',]=0
d.loc[d['v1']=='ham','v1',]=1
d

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4728\1385435497.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.loc[d['v1']=='spam','v1',]=0
C:\Users\ASUS\AppData\Local\Temp\ipykernel_4728\1385435497.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.loc[d['v1']=='ham','v1',]=1

     v1                                                 v2
0     1  Go until jurong point, crazy.. Available only ...
1     1                      Ok lar... Joking wif u oni...
2     0  Free entry in 2 a wkly comp to win FA Cup fina...
3     1  U dun say so early hor... U c already then say...
4     1  Nah I don't think he goes to usf, he lives aro...
...  ..                                                ...
5567  0  This is the 2nd time we have tried 2 contact u...
5568  1              Will Ì_ b going to esplanade fr home?
5569  1  Pity, * was in mood for that. So...any other s...
5570  1  The guy did some bitching but I acted like i'd...
5571  1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [14]:
#renaming columns
d.rename(columns={'v1':'Category','v2':'Message'},inplace=True)
d

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4728\1617603672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.rename(columns={'v1':'Category','v2':'Message'},inplace=True)

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1              Will Ì_ b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [15]:
#input and sample split
X=d.iloc[:,1]
Y=d.iloc[:,0]
print(X)
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [16]:
#test train split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,random_state=35)
print(X_train)
print(X_test)

2440    Great. I'm in church now, will holla when i ge...
4294    HMV BONUS SPECIAL 500 pounds of genuine HMV vo...
5385    How do friends help us in problems? They give ...
138     You'll not rcv any more msgs from the chat svc...
1027          Are you not around or just still asleep? :V
                              ...
2792        Not from this campus. Are you in the library?
3321    Ok darlin i supose it was ok i just worry too ...
3007    Loan for any purpose å£500 - å£75,000. Homeown...
951                              Shb b ok lor... Thanx...
1295                            TELL HER I SAID EAT SHIT.
Name: Message, Length: 4457, dtype: object
948                              Chk in ur belovd ms dict
1841                              I am in your office na.
2603    \Im at arestaurant eating squid! i will be out...
3192    I will lick up every drop :) are you ready to ...
4117    Watch lor. I saw a few swatch one i thk quite ...
                              ...
3726        Aldrine, rakhesh ex RTM here.pls call.urgent.
5519    Can you pls send me that company name. In saib...
3783              Dear got train and seat mine lower seat
2215        Prabha..i'm soryda..realy..frm heart i'm sory
3886    Cab is available.they pick up and drop at door...
Name: Message, Length: 1115, dtype: object

In [18]:
#feature extraction
#converting text to numerals
extracted_feature=tf(min_df=1,stop_words='english',lowercase='True')
X_train_transformed=extracted_feature.fit_transform(X_train)
X_test_transformed=extracted_feature.transform(X_test)
#converting labels
Y_test=Y_test.astype('int')
Y_train=Y_train.astype('int')

In [20]:
print(X_train_transformed)

  (0, 3360)	0.6281873289439988
  (0, 1786)	0.6616544444017549
  (0, 3145)	0.40938255453500855
  (1, 1868)	0.14810629103571255
  (1, 5420)	0.16848719950924665
  (1, 267)	0.2250562321571897
  (1, 7355)	0.14025685856303208
  (1, 3552)	0.18794752344899268
  (1, 700)	0.18794752344899268
  (1, 5824)	0.12292986273327158
  (1, 5068)	0.16336846476442238
  (1, 5350)	0.19665522009060002
  (1, 2464)	0.1694389961783694
  (1, 978)	0.1813108345525097
  (1, 3751)	0.10319383792487213
  (1, 7289)	0.13958031226372458
  (1, 7066)	0.1813108345525097
  (1, 3028)	0.2250562321571897
  (1, 5167)	0.1898845198998543
  (1, 544)	0.16041043532613822
  (1, 6159)	0.16041043532613822
  (1, 1398)	0.18613558427769764
  (1, 3346)	0.6563742214361291
  (2, 5225)	0.3053114403982395
  (2, 2876)	0.331711329331377
  :	:
  (4453, 2126)	0.30259099858605704
  (4453, 3751)	0.16444482405455288
  (4454, 332)	0.28034326240715396
  (4454, 5481)	0.2725394283813759
  (4454, 5226)	0.28034326240715396
  (4454, 6556)	0.2725394283813759
  (4454, 3364)	0.28034326240715396
  (4454, 628)	0.28034326240715396
  (4454, 5325)	0.2725394283813759
  (4454, 4043)	0.2561023398231572
  (4454, 48)	0.23912303484094247
  (4454, 7188)	0.23912303484094247
  (4454, 1)	0.22072437093913336
  (4454, 6576)	0.15676226135337595
  (4454, 2905)	0.14514124196898745
  (4454, 3302)	0.38543872182469224
  (4454, 544)	0.1998166606293855
  (4455, 5884)	0.7058936544820423
  (4455, 6597)	0.5044907681768727
  (4455, 4753)	0.3267807580492833
  (4455, 4082)	0.3747232973208786
  (4456, 2465)	0.5411392119800664
  (4456, 5701)	0.46859531878951405
  (4456, 5904)	0.5536647983489826
  (4456, 6547)	0.4254903894746941

 TRAINING MODEL

using logistic regression

In [21]:
model=LogisticRegression()
model.fit(X_train_transformed,Y_train)

LogisticRegression()

Evaluating the model

In [23]:
#Evaluation on train data
predicted_value_in_train=model.predict(X_train_transformed)
accuracy_score_training_data=accuracy_score(Y_train,predicted_value_in_train)
print(accuracy_score_training_data)

0.9679156383217411

In [25]:
#Evaluation on test data
predicted_value_in_test=model.predict(X_test_transformed)
accuracy_score_testing_data=accuracy_score(Y_test,predicted_value_in_test)
print(accuracy_score_testing_data)

0.9623318385650225

In [3]:
import joblib
joblib.dump(model,'spam_model.pkl')

NameError: name 'model' is not defined